.superContainer{
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
}

.courseHeader{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    background-color: rgba(245, 222, 179, 0.7);
    border-radius: 10px;
    margin-top: 40px;
}

.courseHeader .textDivisor{
    padding: 10px;
    justify-content: center;
}

.courseHeader .textDivisor p{
    font-size: 18px;
    padding-right: 10px;
}

.courseHeader img{
    margin: 10px;
    width: 90%;
    max-height: 250px;
    max-width: 300px;
}

.control-section{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.control-section *{
    margin: 10px;
    font-size: 20px;
    padding: 10px;
}

.control-section #join-button{
    background-color: rgb(99, 153, 233);
    color: whitesmoke;
}

.control-section #join-button:hover{
    background-color: rgb(68, 68, 192);
    color: white;
    font-size: 140%;
}

.control-section #progress-bar{
    accent-color: rgb(99, 153, 233);
    font-style: normal
}

.control-section #progress_percent{
    font-size: 140%;
    color: white;
    background-color: rgba(99, 153, 233, 0.4);
    border-radius: 30px;;
}

.lecturesPanel{
    margin: 0px;
    justify-content: space-between;
}

.lecturesPanel h1{
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.lecturesPanel .lectureItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.lectureItem .stylish_link{
    text-decoration: none;
    color: black;
    width: 100%;
    border-radius: 10px;
}

.lectureItem h3{
    margin: 10px;
}

.lectureItem .stylish_link:hover{
    background-color: black;
    color: rgb(255, 252, 68);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

/*Tables*/
@media screen and (min-width: 768px) {

    .superContainer{
        max-width: 80%;
    }

    .courseHeader{
        flex-direction: row;
    }

    .lectureItem{
        font-size: 130%;
    }
}

/*desktiopo*/
@media screen and (min-width: 1024px) {

    .superContainer{
        max-width: 70%;
    }

    .courseHeader{
        flex-direction: row;
    }

    .courseHeader img{
        max-height: 300px;
        padding: 10px;
    }

    .lectureItem{
        font-size: 150%;
    }
}