/*Gran parte del styling ya está hecho en el css styles_user.css*/
/*Catalog*/

.superContainer{
    max-width: 90%;
}

.search{
    justify-content: right;
    padding: 20px;
    justify-content: space-between;
}

.search form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.search form button{
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    max-width: 250px;
}

.search > .titleLabel{
    color: white;
    font-size: 30px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.search .searchForm{
    box-sizing: border-box;
}

/*tablets*/
@media screen and (min-width: 768px){

    .superContainer{
        margin-top: 5%;
    }

    .search{
        flex-direction: row;
    }
    
    .search form{
        flex-direction: row;
    }
}