body{
    background-color: #9D9B91;
    background-image: url("../../static/bg.jpg");
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Estilo por defecto de algunos elementos*/
button{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    background-color: #808080;
    border-radius: 10%;
}

button:hover{
    background-color: black;
    color: yellow;
    border-radius: 10px;
}

input[type="text"], input[type="password"], input[type="email"]{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    padding: 5px;
}
/*mobile first*/

.superContainer{
    max-width: 95%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.welcome-message{
    display: flex;
    flex-direction: column;
    color: goldenrod;
    font-size: 140%;
}

.welcome-message h1:hover span{
    color: yellow;
    font-size: 180%;
}


.my-courses-label{
    display: flex;
    color: wheat;
    padding-left: 20px;
    margin-bottom: 0;
}
/*Todos los forms*/
.form > *{
    margin: 5px;
    font-size: 20px;
}

/*user_home: mis cursos*/
/*Dado que reutilizaré las mismas clases en la vista de catalogo, cargando este archivo gran parte del trabajo
estará hecho**/
.block{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 30px;
}

.block a:visited, .block a:link, .block a:active{
    color: black;
    text-decoration: none;
}

.block a:hover, .navbar a:hover{
    color: rgb(255, 252, 68);
    background-color: black;
    border-radius: 10px;
    font-size: 120%;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.coursesGroup{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    width: 100%;;
}

.courseComponent{
    display: flex;
    background-color: white;
    padding: 10px;
    max-width: 100%;
    max-height: 200px;
    border-radius: 10px;
    margin: 10px;
}

.courseComponent a{
    display: flex;
    font-size: 20px;
    padding: 10px;
    max-height: 90%;
    overflow: hidden;
}

.courseComponent .textDivisor p{
    display: none;
}

.courseComponent:hover .textDivisor p{
    display: block;
}

.courseComponent a:hover{
    font-size: 25px;
    overflow: auto;
}

.courseComponent img{
    max-width: 40%;
}

.courseComponent .textDivisor{
    justify-content: center;
    padding: 10px;
}

#no_courses_label{
    display: none;
    font-size: 150%;
    text-align: center;
    color: white;
}

/*Tablets*/
@media screen and (min-width: 768px) {
    .superContainer{
        margin-top: 10%;
    }
    .coursesGroup{
        flex-direction: row;
        align-items: start;
        justify-content: left;
    }
    .courseComponent{
        max-width: 40%;
    }
}
/*deskto*/
@media screen and (min-width: 1024px){
    .superContainer{
        max-width: 80%;
    }
}