/*MOBILE FIRST*/

body{
    background-color: #6CAAFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*button animation*/
a, button{
    transition: font-size 0.5s;
}

a:hover, button:hover{
    cursor: pointer;
    font-size: 150%;
}

.superContainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.block{
    display: flex;
    flex-direction: column;
}

/* admin index */
.welcomeMessage{
    font-size: 120%;
}

.block .message{
    text-align: center;
    font-size: 20px;
}

.block .options, .block .categories-options{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.block .options{
    justify-content: space-between;
    min-height: 90%;
}

.block a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.block .categories-options{
    margin-top: 20px;
    margin-bottom: 60px;
    width: 100%;
}

.categories-options > a{
    background-color: wheat;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    max-width: 400px;
}

.options > a{
    background-color: rgb(156, 104, 6);
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    max-width: 400px;
}

/*Media queries en admin_indexs*/
@media (min-width: 768px){

    .welcomeMessage{
        align-self: self-start;
        text-align: left;
        align-items: start;
        font-size: 150%;
    }

    .message p{
        font-size: 120%;
    }

    .block{
        flex-direction: row;
        justify-content: space-between;
    }

    .block .message{
        width: 50%;
    }

    .block .options{
        width: 50%;
    }

}
@media screen and (min-width: 1024px){
    .welcomeMessage{
        align-self: self-start;
        text-align: left;
        align-items: start;
        font-size: 170%;
    }
    .message p{
        font-size: 150%;
    }

    .welcomeMessage{
        align-self: self-start;
        text-align: left;
        align-items: start;
        font-size: 150%;
    }

    .message p{
        font-size: 120%;
    }
}

