

.edit-course-view{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    align-items: center;
}

#course-form{
    margin-top: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 95%;
    align-items: center;
    background-color: white;
    padding: 20px;
}

#course-form > *{
    width: 80%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 120%;
    align-items: center;
}

#course-form textarea{
    height: 200px;
}

.button-group{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.button-group > button{
    padding: 10px;
    font-size: 120%;
    border-width: 0;
    border-radius: 5px;
    background-color: #1042FF;
    color: white;
    box-sizing: border-box;
}

#cancel-button{
    background-color: #BE4141;
}


.create-lecture-button{
    text-align: left;
    align-self: start;
    background-color: #1042FF;
    color: white;
    padding: 10px;
    text-decoration-line: none;
    font-size: 120%;
    margin: 20px;
}

.lectures-panel{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    min-height: 70vh;
}

.lectures-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-width: 3px;
    border-style: solid;
    border-color: grey;
    box-sizing: border-box;
    padding: 10px;
}

.lectures-item > .lecture-info{
    align-items: center;
    display: flex;
    gap: 10px;
    font-size: 120%;
}

.lectures-item > .lecture-modifiers{
    display: flex;
    gap: 10px;
}

.lectures-item > .lecture-modifiers > a{
    box-sizing: border-box;
    padding: 10px;
    border-width: 0;
    border-radius: 5px;
    width: 100px;
    font-size: 120%;
    text-align: center;
    text-decoration: none;
}

.lecture-modifiers > .edit-lecture-button{
    background-color: #18A2FF;
    color: white;
}

.lecture-modifiers > .delete-lecture-button{
    background-color: #BE4141;
    color: white;
}

.create-lecture-panel{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 30px;
}

.create-lecture-panel h1{
    text-align: left;
}

#create-lecture-button{
    background-color: #1042FF;
    border-width: 0;
    border-radius: 5px;
    color: white;
    padding: 10px;
    text-decoration-line: none;
    text-align: center;
    font-size: 120%;
    width: 40%;
    max-width: 200px;
}

/*Media Queries*/
@media screen and (min-width: 768px){

    .edit-course-view{
        max-width: 80%;
    }

    .lectures-item{
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1024px){
    .edit-course-view{
        max-width: 60%;;
    }
}