
<!--navbar Usuario sin registrar-->
<nav class="navbar">
    <a href="index.html">Home</a>
    <a href="login.html">Log In</a>
</nav>

<!--Course Home component-->
<div class="courseHomeComponent">
    <a class="stylish_link">
        <div class="courseImage">
            <img src="resources/images/curso1.jpg" alt="curso1">
        </div>
        <div class="courseInfo">
            <h3>Curso de la Edad Antigua</h3>
            <p>Descubre los secretos de las civilizaciones antiguas</p>
        </div>
    </a>
</div>