
body{
    background-color: #9D9B91;
}

button{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    background-color: grey;
    padding: 5px;
    padding-inline: 40px;
    border-radius: 10%;
}

input[type="text"], input[type="password"], input[type="email"]{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    padding: 5px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    display: flex;
    border-style: solid;
    justify-content: space-between;
}


.navbar a{
    padding: 20px;
    text-decoration: none;
    margin: 0 10px; 
    background-position-x: left;
}


.block{
    display: flex;
    padding: 50px;
    justify-content: center;
    margin-top: 30px;
}

.block a:visited, .block a:link, .block a:active{
    color: black;
    text-decoration: none;
}

.block a:hover, .navbar a:hover{
    color: rgb(255, 252, 68);
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.block > *{
    margin: 30px;
}

/* Home */
.form > *{
    margin: 10px;
    font-size: 20px;
}

.form#registerForm{
    display: flexbox;
    padding: 50px;
    background-color: white;
    margin: 0 auto;
}

.form > p{
    text-align: center;
    margin: 30px;
}

.form#registerForm > button{
    text-align: center;
    display: block;
    margin: 20px auto;
}

#welcomeMessagePanel h1{
    font-size: 50px;
    font-style: italic;
    text-align: center;
    transition: transform 1000ms, opacity 14ms;
}

#welcomeMessagePanel h1:hover{
    transform: scale(2, 2);
    color: rgb(255, 252, 68);
}

#welcomeMessagePanel  h3{
    font-size: 30px;
}

.categoriesPanel{
    justify-content: center;
    margin: 0 auto;
    background-color: #B4B1A8;
    padding-right: 30px;
    min-width: 40%;
}

.categoriesPanel > h2{
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.categoriesPanel li {
    list-style-type: none;
    padding: 20px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coursesPanel{
    margin: 0 auto;
    background-color: #B4B1A8;
    padding: 20px;
    min-width: 40%;
    text-align: center;
}

.courseHomeComponent{
    background-color: white;
    display: flex;
    text-align: center;
    min-width: 80%;
    margin: 20px;
    max-height: 150px;;
}

.courseHomeComponent a{
    display: flex;
    text-align: center;
    min-width: 90%;
    padding: 10px;
    margin: 10px;
}

.courseHomeComponent img{
    width: 200px;
}

.courseHomeComponent  p{
    margin: 0 auto;
}

/* end of Home */

